*{
    box-sizing: border-box;
}
body, html{
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline;
    background: #6C757D;
}
.navbar{
    width: 100%;
    height: 10vh;
    z-index: 999;
    background: rgb(44, 51, 49);
    display: flex;
    color: white;
    left: 0px;top: 0px;
    position: fixed;
    border-bottom:3px solid gray;
}
.about_links{
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
}

.about_links:hover{
    border-bottom: 2px solid rgb(105, 44, 184);
    
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.about{
    height: 100%;
    width: 60%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login_signin_box{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
.login_signin_box > span:first-child{
    padding: 7px 25px;
    border-radius: 5px;
    background: #000;
    cursor: pointer;
}
.login_signin_box > span:last-child{
    padding: 7px 25px;
    border-radius: 5px;
    background: rgb(105, 44, 184);
    cursor: pointer;
}
.login_signin_box > span > a{
    text-decoration: none;
    color: white;
}
.contact_box{
    width: 50%;
    height: 60%;
    background: #6C757D;
    position: absolute;
    left:0px;right: 0px;top: 50%;
    margin: 0px auto;
    transform: translate(0, -50%);
    border-radius: 10px;
    border: 1px solid #495057;
    color:#343a40;
    text-align: center;
}
.contact_box>p{
    font-size: 2.5ex;
    cursor: pointer;
    display: inline;
}